


{% extends 'base/header.html' %}

{% block body %}


    <div class="container py-3 nextup-container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">

                    <!--header-->
                    <div class="nextup-header text-center">
                        <div class="float-start d-inline nextup-title">
                            <img src="/static/images/club-logo.png" style="margin-right: 8px !important;" alt="club-logo" width="45"/> {{ request.user }}
                        </div>
                        <img src="/static/images/logo.png" alt="logo" style="margin-right: 35px !important;" width="130">
                    </div>
                    <!--end of header-->

                    <!--left Nav-->
                    <div class="row">
                        <div class="col-1" style="display: inline !important;">
                            {% include 'base/left-nav.html' %}
                        </div>
                        <!--endof left Nav-->

                        <!--main contents-->
                        <div class="col mt-5 mx-5" style="display: inline !important;">
                            
                            <!--Calender-->
                            <h5 class="nextup-title mx-3">Update Match Result</h5>
                            <div class="container card card-body addresult">
                                {% if messages %}
                        
                                {% for message in messages %}
                                {%if "result" in message.tags %}
                                
                                <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
                
                                {% endif %}
                                {% endfor %}
                                
                                {% endif %}
                                <div class="alert alert-info">Use link like this for updating match result:
                                    <i>
                                        https://www.livescore.com/en/football/spain/laliga-santander/villarreal-vs-real-madrid/717561/stats/
                                    </i>
                                </div>
                                <form class="text-center row" method="POST">
                                    <input type="hidden" name="formFor" value="addResult"/>
                                    {% csrf_token %}
                                    <div class="col">
                                        <input type="text" class="form-control nextup-input-dark" name="resultLink" placeholder="link to stats">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-dark mb-3 rounded-pill nextup-addbtn py-2 px-3">Add to Database</button>
                                    </div>
                                </form>
                            </div>


                            <h5 class="nextup-title mx-3">Update API Key</h5>
                            <div class="container card card-body addresult">
                                {% if messages %}
                        
                                {% for message in messages %}
                                {%if "api" in message.tags %}
                                <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
                
                                {% endif %}
                                {% endfor %}
                                
                                {% endif %}
                                <form class="text-center row" method="POST">
                                    <input type="hidden" name="formFor" value="addAPI"/>
                                    {% csrf_token %}
                                    <div class="col">
                                        <input type="text" class="form-control nextup-input-color-green" name="apikey" placeholder="Valid API Key" required>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-success mb-3 rounded-pill nextup-addbtn-light py-2 px-3">Add to Database</button>
                                    </div>
                                </form>
                            </div>

                            <!--end of calendar-->
                            <div class="col mt-5 mx-5" style="display: inline !important;">
                            
                                <!--Calender-->
                                <h5 class="nextup-title mx-3">Add Players to Database</h5>
                                <div class="container card card-body bg-light addresult text-center">
                                    {% if messages %}
                                    
                                    {% for message in messages %}
                                    {%if "player" in message.tags %}
                                
                                <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
                
                                {% endif %}
                                {% endfor %}
                                
                                {% endif %}
                                    <img id="preview" style="display:none;border:4px solid #11D33F" width="130" height="130" class="rounded-circle object-fit-cover text-center mx-auto my-3"/>
                                    <form class="text-center" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" name="formFor" value="addPlayer"/>
                                        <div class="row m-2">
                                            <div class="col-lg-6 mb-2">
                                                <input type="text" class="form-control nextup-input col-6" name="playerName" placeholder="Name" required>
                                            </div>
                                            
                                            <div class="col-lg-6 mb-2">
                                                <input type="text" class="form-control nextup-input col-6" name="playerTeam" placeholder="Team" required>
                                            </div>

                                            <div class="col-lg-6 mb-2">
                                                <input type="text" class="form-control nextup-input col-6" name="playerPosition" placeholder="Position" required>
                                            </div>

                                            <div class="col-lg-6 mb-2">
                                                <input type="number" class="form-control nextup-input col-6" name="gamesPlayed" placeholder="Games Played" required>
                                            </div>

                                            <div class="col-lg-6 mb-2">
                                                <input type="number" class="form-control nextup-input col-6" name="playerGoals" placeholder="Goals Scored" required>
                                            </div>

                                            <div class="col-lg-6 mb-2">
                                                <input type="number" class="form-control nextup-input col-6" name="playerAssists" placeholder="Assists" required>
                                            </div>

                                            <div class="col-lg-6 mb-2">

                                                <div class="input-group mt-2">
                                                    <select name="birthdate"  style="cursor: pointer;" class="form-select form-select" aria-label="Default select example" required>
                                                      <option selected disabled>Date</option>
                                                      {% for day in days %}
                                                      <option value="{{day}}">{{day}}</option>
                                                      {% endfor %}
                                                    </select>
                                                    <select name="birthmonth" style="cursor: pointer;" class="form-select form-select" aria-label="Default select example" required>
                                                      <option selected disabled>Month</option>
                                                      {% for month in months %}
                                                      <option value="{{month}}">{{month}}</option>
                                                      {% endfor %}
                                                    </select>
                                                    <select name="birthyear" style="cursor: pointer;" class="form-select form-select" aria-label="Default select example" required>
                                                      <option selected disabled>Year</option>
                                                      {% for year in years %}
                                                      <option value="{{year}}">{{year}}</option>
                                                      {% endfor %}
                                                    </select>
                                                    </div>

                                            </div>

                                            <div class="col-lg-6 mb-2">
                                                
                                                <input type="text" class="form-control nextup-input col-6" name="placeOfBirth" placeholder="Place of Birth" required>
                                                
                                                
                                            </div>

                                            <div class="col-lg-6 mb-2">
                                                <select name="prefFoot"  style="cursor: pointer;" class="form-select form-select" aria-label="Default select example" required>
                                                    <option selected disabled>Preferred Foot</option>
                                                    <option value="True">Right</option>
                                                    <option value="False">Left</option>
                                                </select>
                                            </div>

                                            <div class="col-lg-6 mb-2">
                                                <input type="file" onchange="previewImage(event)" accept="image/*" class="form-control nextup-inputImg col-6" name="playerPhoto" placeholder="Display Photo" required>
                                            </div>



                                        </div>
                                        <button type="submit" class="btn btn-dark mb-3 rounded-pill nextup-addbtn">ADD to Database</button>
                                    </form>
                                </div>
                        
                        </div>
                    </div>


                    <div class="row g-0">
                        <div class="col-lg-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

<style>

    .nextup-input {
        background-color: #EFEFEF;
        border-radius: 20px;
        border: none !important;
        padding: 10px 10px 10px 20px !important;
    }
    
    .nextup-input-color-green {
        background-color: #8fd38e;
        color:#222;
        border-radius: 20px;
        border: none !important;
        padding: 10px 10px 10px 20px !important;
    }

    .nextup-inputImg {
        background-color: #EFEFEF;
        border-radius: 20px;
        border: none !important;
        {% comment %} padding: 10px 10px 10px 0px !important; {% endcomment %}
    }
    .nextup-inputImg:hover {
        {% comment %} background-color: #EFEFEF; {% endcomment %}
        {% comment %} border-radius: 20px; {% endcomment %}
        {% comment %} border: none !important; {% endcomment %}
        {% comment %} padding: 10px 10px 10px 0px !important; {% endcomment %}
        color: #222 !important;

    }
    input[type=file]::file-selector-button {
        margin-right: 20px;
        border: none;
        background: #084cdf;
        padding: 10px 20px;
        border-top-left-radius: 25px;
        {% comment %} border-top-right-radius: 25px; {% endcomment %}
        border-bottom-left-radius: 25px;
        {% comment %} border-bottom-right-radius: 0px; {% endcomment %}
        color: #fff;
        cursor: pointer;
        transition: background .2s ease-in-out;
      }
      
      input[type=file]::file-selector-button:hover {
        {% comment %} background: #0d45a5 ! important; {% endcomment %}
        color: #222 !important;
    }

    .nextup-calbox {
        /* border: 1px solid #222; */
        border-radius: 10px;
        background-color: #fff;
        padding: 4px 4px 4px 4px;
        
    }
    
    .nextup-content {
        border-radius: 10px;
        background-color: #fff;
        padding: 25px;

    }

    .nextup-calbox ul li {
        list-style: none;
        display: inline-block;
        margin: 10px 5px 0px 5px;
        padding: 25px 20px 20px 20px;
        height: 80px;
        width: 80px;
        align-items:center;
        text-align: center;
        background-color: #EFEFEF;
        color: #222222;
    }

    .nextup-container .nextup-header {
        background-color: #fff;
        padding: 15px;
        border-bottom: 3px solid #222222;
        color: #222222;
        font-family: 'Alegreya Sans', sans-serif;
        
    }
    .nextup-container .card {
        border: none !important;
        background-color: #efefef;
    }

</style>


<style>

    .addresult {
        background:#222222;
    }
    .nextup-input-dark {
        background-color: #1f1f1f;
        border-radius: 20px;
        border: none !important;
        padding: 10px 10px 10px 20px !important;
        color: #EFEFEF !important;
    }

    .nextup-input-dark:focus {
        background-color: #222;
    }

    .nextup-input-dark::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #EFEFEF !important;
      }
          .nextup-input-dark::-moz-placeholder { /* Firefox 19+ */
        color: #EFEFEF !important;
      }
          .nextup-input-dark:-ms-input-placeholder { /* IE 10+ */
        color: #EFEFEF !important;
      }
          .nextup-input-dark:-moz-placeholder { /* Firefox 18- */
        color: #EFEFEF !important;
      }


    .nextup-addbtn:hover {
        background: #efefef !important;
        border: 1px solid #222 !important;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s linear;
        color: #222 !important;
    }


    .nextup-addbtn-light:hover {
        background: #efefef !important;
        border: 1px solid #198754 !important;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s linear;
        color: #222 !important;
    }
</style>

<script>

    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var img = document.getElementById("preview");
            img.src = reader.result;
            img.style.display = "block"; // show the image when it is not empty
        };
        if (event.target.files.length === 0) {
            document.getElementById("preview").style.display = "none"; // hide the image when no file is selected
        } else {
            reader.readAsDataURL(event.target.files[0]);
        }
    }

</script>

{% endblock body %}