<form action="/search" method="GET">
  <div class="modal fade" id="Search-Menu" tabindex="-1" aria-labelledby="Search-MenuLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="input-group">
                        <input class="form-control border-end-0 border nextup-src rounded-pill px-3 py-2" type="search" placeholder="search" id="example-search-input" name="q">
                        <span class="input-group-append">
                            <button class="btn text-white nextup-srcbtn bg-dark border-bottom-0 border rounded-pill ms-n5 py-2" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            
        </div>
        
      </div>
    </div>
  </div>
</form>  

  <style>
    .nextup-src {
        background: #EAEBEF !important;
        margin-right: 8px;
    }

    .nextup-srcbtn:hover {
        background: #0D6EFD !important;
        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        -o-transition: background 0.2s ease-in-out;
        transition: background 0.2s linear;
    }
  </style>