
    <div class="row">
     
        <div class="col-lg-4 mb-2">
            <div class="team-name mb-3">
                {{session.session1_name}} <br>
                <h5>{{session.session1_start}} - {{session.session1_end}}</h5>
            </div>
            <h4>{{session.session1_name.ex1}}</h4>
            <h6>{{session.session1_name.ex1_time}} mins</h6>
                <h4>{{session.session1_name.ex2}} </h4>
                <h6>{{session.session1_name.ex2_time}} mins</h6>
                <h4>{{session.session1_name.ex3}} </h4>
                <h6>{{session.session1_name.ex3_time}} mins</h6>
        </div>

        <div class="col-lg-4 mb-2">
            <div class="team-name mb-3">
                {{session.session2_name}} <br>
                <h5>{{session.session2_start}} - {{session.session2_end}}</h5>
            </div>
            <h4>{{session.session2_name.ex1}}</h4>
                <h6>{{session.session2_name.ex1_time}} mins</h6>
                <h4>{{session.session2_name.ex2}} </h4>
                <h6>{{session.session2_name.ex2_time}} mins</h6>
                <h4>{{session.session2_name.ex3}} </h4>
                <h6>{{session.session2_name.ex3_time}} mins</h6>
        </div>
    
        <div class="col-lg-4 mb-2">
            <div class="team-name mb-3">
                {{session.session3_name}} <br>
                <h5>{{session.session3_start}} - {{session.session3_end}}</h5>
            </div>
            <h4>{{session.session3_name.ex1}}</h4>
                <h6>{{session.session3_name.ex1_time}} mins</h6>
                <h4>{{session.session3_name.ex2}} </h4>
                <h6>{{session.session3_name.ex2_time}} mins</h6>
                <h4>{{session.session3_name.ex3}} </h4>
                <h6>{{session.session3_name.ex3_time}} mins</h6>
        </div>
        
    </div>